.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-icons-link:hover .icon {
  fill: #ffffff;
}

.social-icons-link:focus .icon {
  color: var(--accent-color);
  fill: #fff;
}
